<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blank HTML5 Page</title>
    <!-- <meta name="description" content="This is a blank HTML5 template."> -->
    <!-- <meta name="keywords" content="html5, blank, page, template"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico" /> -->
</head>
<body>



<script src="script.js"></script>

</body>
</html>