<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blank Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
        }
        body {
            font-family: sans-serif;
            box-sizing: border-box;
            background-color: hsl(0, 0%, 90%);
        }
    </style>
</head>
<body>





<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src=""></script>

<script>
    
    
    
</script>

</body>
</html>