<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blank HTML5 Page</title>
    <!-- <meta name="description" content="This is a blank HTML5 template."> -->
    <!-- <meta name="keywords" content="html5, blank, page, template"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="styles.css" /> -->
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico" /> -->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
        }
        body {
            font-family: sans-serif;
            box-sizing: border-box;
            background-color: hsl(0, 0%, 90%);
        }
    </style>
</head>
<body>





<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    
</script>

</body>
</html>